<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="summmer.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="summer.android.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="summer.android.Scan"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.HistoryTask"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.EditInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.Tasklist"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.Device"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.Book"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.TaskletPull"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.TaskletItemPull"
            android:label="@string/title_activity_tasklet_item_pull" >
        </activity>
        <activity
            android:name="summmer.android.Change_passwd"
            android:label="@string/title_activity_change_passwd" >
        </activity>
        <activity
            android:name="summer.android.Password"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="summer.android.ItemArgs"
            android:label="@string/title_activity_item_args" >
        </activity>
        <activity
            android:name="summer.android.ErrorHandling"
            android:label="@string/title_activity_error_handling" >
        </activity>
        <activity
            android:name="summer.android.Edit"
            android:label="@string/title_activity_edit"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="summer.android.TaskletPush"
            android:label="@string/title_activity_tasklet_push" >
        </activity>
        <activity
            android:name="summer.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="summer.android.HistoryTaskLook"
            android:label="@string/title_activity_history_task_look" >
        </activity>
        <activity
            android:name="summer.android.StuffInfoPull"
            android:label="@string/title_activity_stuff_info_pull"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="summer.android.TaskletPull_return"
            android:label="@string/title_activity_tasklet_pull_return" >
        </activity>
        <activity
            android:name="summer.android.UndoneTask"
            android:label="@string/title_activity_undone_task" >
        </activity>
        <activity
            android:name="summer.android.TaskNow"
            android:label="@string/title_activity_task_now" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

</manifest>